.section {
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.main {
    background-image: linear-gradient(rgba(47, 50, 75, 0.85),rgba(47, 50, 75, 0.85)), url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    max-width: 1600px;
    height: 732px;
}

.main__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 35px;
}

.main__paragrath {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    Vertical-align: Top;
    color: rgba(255, 255, 255, 0.75);
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.blue_button {
    line-height: 150%;
    width: 200px;
    height: 48px;
    background-color: #15A9CB;
    border-style: none;
    border-radius: 50px;
    color: #FFFFFF;
}
.logo {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: #15A9CB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 25.16px;
    line-height: 44px;
}

.number {
    font-size: 23.85px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 3px;
}

.call_me {
    font-size: 16px;
    line-height: 19px;
    height: 21px;
    border-bottom:1px solid;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}