.section {
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.main {
    background-image: linear-gradient(rgba(47, 50, 75, 0.85),rgba(47, 50, 75, 0.85)), url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.phone-icon {
    display: none;
}
.main__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 35px;
}

.main__paragrath {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    Vertical-align: Top;
    color: rgba(255, 255, 255, 0.75);
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.blue_button {
    width: 200px;
    height: 48px;
    background-color: #15A9CB;
    border-style: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
}
.logo {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: #15A9CB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 25.16px;
    line-height: 44px;
    vertical-align: top;
    text-align: center;
}

.number {
    font-size: 23.85px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 3px;
}

.call_me {
    font-size: 16px;
    line-height: 19px;
    height: 21px;
    border-bottom:1px solid;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .main__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;;
        text-align: center;
        margin-bottom: 27px;
    }

    .main__paragrath {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        Vertical-align: Top;
        color: rgba(255, 255, 255, 0.75);
        max-width: 754px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .blue_button {
        width: 200px;
        height: 48px;
        background-color: #15A9CB;
        border-style: none;
        border-radius: 50px;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 23px;
    }
    .logo {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #15A9CB;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-text {
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 39px;
    }

    .number {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 3px;
    }

    .call_me {
        font-size: 13px;
        line-height: 15px;
        height: 21px;
        border-bottom:1px solid;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 320px) {

    .section {
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .conteiner {
        max-width: 290px;
    }

    .main__title {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 27px;
    }

    .main__paragrath {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        Vertical-align: Top;
        color: rgba(255, 255, 255, 0.75);
        max-width: 290px;
        margin: 0 auto;
        margin-bottom: 52px;
    }

    .blue_button {
        width: 160px;
        height: 38px;
        background-color: #15A9CB;
        border-style: none;
        border-radius: 50px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
    }

    .logo {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #15A9CB;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-text {
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 19px;
    }

    .number {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 3px;
    }

    .call_me {
        font-size: 13px;
        line-height: 15px;
        height: 21px;
        border-bottom:1px solid;
    }

    .number {
    display: none;
    }

    .call_me {
    display: none;
    }

    .phone-icon {
        display: block;
        width: 24px;
        height: 24px;
    }
}