
.uniqe {
    margin: 0 auto;
    max-width: 934px;
    text-align: center;
}

.uniqe__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 35px;
    color: #383A4C;
}

.uniqe__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 50px;
    color: #383A4C;
}

.uniqe__paragrath {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 724px;
    padding-bottom: 50px;
    color: #383A4C;
    margin: 0 auto;
}

.uniqe__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.uniqe__list {
    display: flex;
    gap: 50px;
    list-style: none;
    color: #383A4C;
}

.uniqe__item {
    max-width: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.uniqe__item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #15A9CB;
    color: #FFFFFF;
    font-size: 57px;
    font-weight: 500;
    line-height: 57px;
}

.uniqe__item-text {
    width: 196px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

@media (max-width: 1024px) {
    .uniqe {
        margin: 0 auto;
        max-width: 966px;
        text-align: center;
    }

    .uniqe {
        margin: 0 auto;
        max-width: 870px;

    }

    .uniqe__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 35px;
        color: #383A4C;
    }

    .uniqe__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 50px;
        color: #383A4C;
    }

    .uniqe__paragrath {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        max-width: 666px;
        padding-bottom: 50px;
        color: #383A4C;
        margin: 0 auto;
    }

    .uniqe__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .uniqe__list {
        display: flex;
        gap: 50px;
        list-style: none;
        color: #383A4C;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .uniqe__item {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }

    .uniqe__item-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background-color: #15A9CB;
        color: #FFFFFF;
        font-size: 57px;
        font-weight: 500;
        line-height: 57px;
    }

    .uniqe__item-text {
        max-width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .uniqe__paragrath{
        padding-right: 15px;
        padding-left: 15px;
    }
}



@media (max-width: 320px) {

    .uniqe {
        margin: 0 auto;
        max-width: 290px;

    }

    .uniqe__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 35px;
        color: #383A4C;
    }

    .uniqe__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 50px;
        color: #383A4C;
    }

    .uniqe__paragrath {
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        max-width: 290px;
        padding-bottom: 40px;
        color: #383A4C;
        margin: 0 auto;
    }

    .uniqe__list {
        padding: 0;
        margin: 0;
        list-style: none;

    }
    .uniqe__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
        list-style: none;
        color: #383A4C
    }

    .uniqe__item {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }

    .uniqe__item-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background-color: #15A9CB;
        color: #FFFFFF;
        font-size: 57px;
        font-weight: 500;
        line-height: 57px;
    }

    .uniqe__item-text {
        width: 196px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    }
}