.footer-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-bottom: 52px;
    padding-top: 52px;
}

.trademark {
    white-space: pre-line;
}

.footer {
    background-color: #2F324B;
}

.footer-row {
    display: flex;
    align-items: center;
    min-width: 183px;
}

.footer__trademark {
    white-space: pre-line;
    padding-left: 19px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__made-by {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.signature {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #2A2C3F;
    text-align: center;
    min-height: 47px;
    display: none;
}


@media (max-width: 1024px) {
    .footer-box {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
    }

    .trademark {
        white-space: pre-line;
    }

    .footer {
        background-color: #2F324B;
    }

    .footer-row {
        display: flex;
        align-items: center;
    }

    .footer__trademark {
        white-space: pre-line;
        padding-left: 19px;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
    }

    .footer__made-by {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
    }

    .footer-box {
        padding-top: 37px;
        padding-bottom: 69px;
    }

}
@media (max-width: 625px) {
    .footer__trademark {
        font-size: 10px;
        line-height: 15px;
    }
    .signature {
        display: block;
    }
    .footer__made-by {
        display: none;
    }
    .contacts__number {
        display: none;
    }

    .contacts__callme {
        display: none;
    }

    .phone-icon {
        display: block;
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 320px) {
    .footer__made-by {
        display: none;
    }

    .contacts {
        vertical-align: middle;
    }

    .footer__trademark {
    font-weight: 500;
    font-size: 8px;
    line-height: 11px;
    }

    .conteiner {
        padding-left: 0;
        padding-right: 0;
    }

    .signature {
        display: block;
    }

    .footer {
        padding-bottom: 0;
    }

    .footer-box {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .phone-icon {
        display: block;
        width: 25px;
        height: 25px;
    }
}