
.feedback {
    margin: 0 auto;
    background: linear-gradient(rgba(47, 50, 75, 0.85),rgba(47, 50, 75, 0.85)),url(./image/original_598199574f1350638e11b2d2_5982c05803796.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.feedback__title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
}

.feedback__input {
    width: 100%;
    height: 44px;
    padding: 9px 25px;
    border: 1.38235px solid #FFFFFF;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px
}

.feedback__input:last-of-type {
    margin-bottom: 29px;
}

.feedback__form {
    margin: 0 auto;
    max-width: 423px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 21px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback__agreed {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.agreed-text {
    color: #4A76A8;
    border-bottom: 1px solid #4A76A8;
}
.feedback__button {
    width: 215px;
    height: 48px;
    background-color: #15A9CB;
    border-style: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
}
@media (max-width: 1024px) {
    .feedback {
        max-height: 558px;
    }
    .feedback__title {
        padding-top: 50px;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 17px;
    }

    .feedback__input {
        width: 377px;
        height: 39px;
        padding: 8px 23px;
        border: 1.38235px solid #FFFFFF;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        font-size: 20px;
        line-height: 23px;
    }

    .feedback__input:last-of-type {
        margin-bottom: 29px;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 21px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .feedback__agreed {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
    }

    .agreed-text {
        color: #4A76A8;
        border-bottom: 1px solid #4A76A8;
    }
}

@media (max-width: 320px) {
    .feedback__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 17px;
    }

    .feedback__subtitle {
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    .feedback__input {
        width: 290px;
        height: 28px;
        padding: 6px 18px;
        border: 1.38235px solid #FFFFFF;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        font-size: 14px;
        line-height: 16px;
    }

    .feedback__input:last-of-type {
        margin-bottom: 24px;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 15px;
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .feedback__agreed {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
    }

    .agreed-text {
        color: #4A76A8;
        border-bottom: 1px solid #4A76A8;
    }
}

