.section {
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

.feedback {
    margin: 0 auto;
    background: linear-gradient(rgba(47, 50, 75, 0.85),rgba(47, 50, 75, 0.85)),url(./image/original_598199574f1350638e11b2d2_5982c05803796.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.feedback__title{
    margin-bottom: 17px;
}

.feedback__input {
    width: 423px;
    height: 44px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 21px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback__agreed {
padding-top: 50px;
}